/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 100%}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #e7a705;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #1c4eba;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 600px) {
  .sidenav {
	height: auto;
	padding: 15px;
  }
  .row.content {height:auto;}
}

html{
  scroll-behavior: smooth;
}
.columna-izquierda {
  float: left;
  width: 50%;
}

.columna-derecha {
  float: right;
  width: 50%;
}
.img-1{
  box-shadow: 1px 1px 20px blue; 
  }

  .img-2{
    box-shadow: 1px 1px 20px rgb(199, 156, 2); 
    }

    .animated-text {
      font-size: 2em;
      animation: textAnimation 3s infinite;
  }
  
  @keyframes textAnimation {
      0% {
          opacity: 0;
          transform: translateY(-50px);
      }
      50% {
          opacity: 1;
          transform: translateY(0);
      }
      100% {
          opacity: 0;
          transform: translateY(50px);
      }
  }

  .blinking-text {
    font-size: 2em;
    animation: blinkAnimation 1s infinite, colorChange 3s infinite;
}

@keyframes blinkAnimation {
    0%, 49%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes colorChange {
    0% {
        color: #ff0000;
    }
    50% {
        color: #00ff00;
    }
    100% {
        color: #0000ff;
    }
}